
.title {
  padding: 30px;
  color: white;
  background-color: black;
}
.model {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
.prototype {
  position: relative;
}
.glasses_prototype {
  position: absolute;
  z-index: 2;
  top: 26%;
  right: 50%;
  transform: translateX(50%);
  opacity: 0.7;
}
.card-img-overlay {
  top: auto;
  bottom: 0px;
  background-color: #fcbc8ea8;
  padding: 0 5px;
}
.card-text {
  font-size: 12px;
  color: white;
  margin-bottom: 6px !important;
}
.card-title {
  color: blue;
  font-size: 16px;
  margin-bottom: 0;
}
.classesList {
  width: 80%;
  margin: 0 auto;
}